#gameContainer {
    border: 2px black solid;
    background-color: lightgray;
    padding: 5px;
    width: 276px;
    /* display: inline-block; would have div width match content length */
}

#playerInstruction {
    margin: 0px;
    word-wrap: break-word;
}

#numberGuess {
    margin: 0px;
}

#submitButton {
    margin: 0px;
}